# core
numpy>=1.26
pandas>=2.0
matplotlib>=3.8
seaborn>=0.13.2
pillow
tifffile>=2021.7.2
scipy
h5py
lxml
imageio

# UI
PyQt5>=5.15

# IMC I/O
readimc>=0.9.0

#Segmentation
cellpose==3.1.1.2
torch>=1.9.0
torchvision>=0.10.0
scikit-image>=0.25.0
scikit-learn>=1.0.0
psutil>=5.8.0

#Clustering
leidenalg>=0.10.0
python-igraph>=0.11.0
umap-learn>=0.5.0
openai>=1.42.0
